.footer{
    display: flex;
    flex-direction: column;
    background-color: $dark-color;
    padding: 10px 0;
    position: sticky;
    bottom: 0;
    width: 100%;
   
    .nav-footer{
        display: flex;
        flex-direction: column;
            a{
                color: $text-color-white;
                text-decoration: none;
                cursor: pointer;
            }
             
            
            .link-btn{
                transition: 0.3s;
                background-color: $dark-color;
                border: none;
                border-radius: 8px;
                width: 160px;
                text-align: left;
                padding-left: 2rem;
            }   .link-btn:hover{
                    background-color: $lighter-color;
                }}
}