.footer{
    background-color: #a49c9c;
    padding: 10px 0;
    position: sticky;
    bottom: 0;
    width: 100%;

    .nav-footer{
    color: white;
    text-align: right;
    padding-right: 1rem;
    }
}