.footer{
    background-color: $dark-color;
    padding: 10px 0;
    position: sticky;
    bottom: 0;
    width: 100%;

    .nav-footer{
    color: $text-color-white;
    text-align: right;
    padding-right: 1rem;
    }
}