.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a49c9c;
    color: white;
    padding: 10px 0;
    position: sticky;
    a{
        text-decoration: none;
        color: white;
    }
    li{
        list-style: none;
        padding-right: 1rem;
        text-align: right;
    }
    .logo{
        max-width: 100px;
        height: auto;
        padding-left: 1rem;
    }
}