.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:$dark-color;
    color: $text-color-white;
    padding: 10px 0;
    position: sticky;
    top: 0;

   //   // ===============================
.burger {
    display: none;
    width: 40px;
    height: 40px;
    background: url(../img/bars-solid.svg) no-repeat center center;
    cursor: pointer;
    #toggle{
        display: none;
        z-index: 1001;
    }
}



ul{
    display: flex;

    .link-btn{
        background-color: $dark-color;
        border: none;
        border-radius: 8px;
        width: 160px;
        text-align: right;
        padding-right: 1rem; 
         a{
        text-decoration: none;
        color: $text-color-white;
    }
    }   .link-btn:hover{
        transition: 0.3s;
            background-color: $lighter-color;
        }
    li{
        list-style: none;
        padding-right: 2rem;
        text-align: right;
    }
  
}
    #logo{
        width: 100px;
        height: auto;
        padding-left: 2rem;
        
    }
// ============


}