@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');
@import './scss/_variables.scss';
@import './scss/_global.scss';
@import './scss/_media.scss';
@import './scss/header.scss';
@import './scss/footer.scss';



main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin: auto;
    position: relative;
    font-size: large;
  }
  .items-list{
    max-width: 40%;
    height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin: auto;
    text-align: center;
    font-size: large;
  }
.item {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
} 
 img{
        max-width: 200px;
        height: auto;
        object-fit: cover;
        margin: auto; 
    }
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 90%;
    height: fit-content;
    padding: 1rem;
    margin: 1rem;
    border: 2px solid $dark-color;
    border-radius: 5px;
    list-style: none;
    font-size: large;
}

.modal{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: max-content;
    background-color: $lightest-color; 
    z-index: 1000;
    text-align: center;
    .card-button{ 
        background-color: $dark-color;
        color:$text-color-white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin: 10px 10px;
    
    }
    .card-image{
        max-width: 100%;
        height: auto;
        object-fit: cover;
        margin: auto;
    }

}

.email-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: auto;
    padding: 1rem;
    max-width: 60%;
    height: max-content;
    border: 2px solid $dark-color;
    border-radius: 5px;
    font-size: large;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;

    input{
        max-width: 80%;
        padding: 10px;
        border: 2px solid $dark-color;
        border-radius: 5px;
    }
    button{
        background-color: $dark-color;
        color:$text-color-white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
}
.no-email-form{
    display:none;
}



