@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap");
body {
  background-color: #F5E8C7;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Open Sans", "Helvetica Neue", sans-serif;
}

@media screen and (max-width: 768px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: sticky;
  }
  .header .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .header .menu #icon {
    display: block;
  }
  .header .menu button.link-btn {
    text-align: center;
  }
  .header .menu img#logo {
    transition: 0.5s;
    width: 80px;
    height: auto;
    padding-left: 0;
  }
  .header .card {
    padding: 0.1rem;
    margin: 0.1rem;
  }
  .header .card h2 {
    font-size: smaller;
  }
  .header .card .card-image {
    max-width: 150px;
    height: auto;
  }
  .header .modal h2, .header .modal h4 {
    font-size: smaller;
  }
  .header .modal .card-button {
    padding: 5px 10px;
    margin: 5px 5px;
  }
  .responsive button.link-btn {
    display: none;
  }
  .footer {
    flex-direction: column;
  }
  .footer .nav-footer {
    flex-direction: column;
    text-align: center;
  }
}
@media screen and (max-width: 630px) {
  .card {
    padding: 0rem;
    margin: 0rem;
  }
  .card h2 {
    font-size: small;
  }
  .card .card-image {
    max-width: 100px;
    height: auto;
  }
  .modal h2, .modal h4 {
    font-size: small;
  }
  .modal .card-button {
    padding: 1px 2px;
    margin: 0;
  }
  .footer .link-btn {
    width: 100px;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #363062;
  color: #fcfafa;
  padding: 10px 0;
  position: sticky;
  top: 0;
}
.header .menu {
  display: flex;
}
.header .menu #icon {
  display: block;
}
.header .menu .link-btn {
  background-color: #363062;
  border: none;
  border-radius: 8px;
  width: 160px;
  text-align: right;
  padding-right: 1rem;
}
.header .menu .link-btn a {
  text-decoration: none;
  color: #fcfafa;
}
.header .menu .link-btn:hover {
  transition: 0.3s;
  background-color: #435585;
}
.header #logo {
  width: 100px;
  height: auto;
  padding-left: 2rem;
}

.footer {
  display: flex;
  background-color: #363062;
  padding: 10px 0;
  position: sticky;
  bottom: 0;
  width: 100%;
}
.footer .nav-footer {
  display: flex;
}
.footer .nav-footer a {
  color: #fcfafa;
  text-decoration: none;
  cursor: pointer;
}
.footer .nav-footer .link-btn {
  transition: 0.3s;
  background-color: #363062;
  border: none;
  border-radius: 8px;
  width: 160px;
  text-align: left;
  padding-left: 2rem;
}
.footer .nav-footer .link-btn:hover {
  background-color: #435585;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 10vh;
  margin: auto;
  position: relative;
  font-size: large;
}

.items-list {
  max-width: 40%;
  height: -moz-min-content;
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin: auto;
  text-align: center;
  font-size: large;
}

.item {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img {
  max-width: 200px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  margin: auto;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 90%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1rem;
  margin: 1rem;
  border: 2px solid #363062;
  border-radius: 5px;
  list-style: none;
  font-size: large;
}

.modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: -moz-max-content;
  height: max-content;
  background-color: #F5E8C7;
  z-index: 1000;
  text-align: center;
}
.modal .card-button {
  background-color: #363062;
  color: #fcfafa;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 10px;
}
.modal .card-image {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  margin: auto;
}

.email-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: auto;
  padding: 1rem;
  max-width: 60%;
  height: -moz-max-content;
  height: max-content;
  border: 2px solid #363062;
  border-radius: 5px;
  font-size: large;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}
.email-form input {
  max-width: 80%;
  padding: 10px;
  border: 2px solid #363062;
  border-radius: 5px;
  gap: 1rem;
}
.email-form button {
  background-color: #363062;
  color: #fcfafa;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */