@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap");
body {
  background-color: #F5E8C7;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Open Sans", "Helvetica Neue", sans-serif;
}

@media screen and (max-width: 768px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: sticky;
  }
  .header .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .header .menu #icon {
    display: block;
  }
  .header .menu button.link-btn {
    text-align: center;
  }
  .header .menu img#logo {
    transition: 0.5s;
    width: 80px;
    height: auto;
    padding-left: 0;
  }
  .header .card {
    padding: 0.1rem;
    margin: 0.1rem;
  }
  .header .card h2 {
    font-size: smaller;
  }
  .header .card .card-image {
    max-width: 150px;
    height: auto;
  }
  .header .modal h2, .header .modal h4 {
    font-size: smaller;
  }
  .header .modal .card-button {
    padding: 5px 10px;
    margin: 5px 5px;
  }
  .responsive button.link-btn {
    display: none;
  }
  .footer {
    flex-direction: column;
  }
  .footer .nav-footer {
    flex-direction: column;
    text-align: center;
  }
}
@media screen and (max-width: 630px) {
  .card {
    padding: 0rem;
    margin: 0rem;
  }
  .card h2 {
    font-size: small;
  }
  .card .card-image {
    max-width: 100px;
    height: auto;
  }
  .modal h2, .modal h4 {
    font-size: small;
  }
  .modal .card-button {
    padding: 1px 2px;
    margin: 0;
  }
  .footer .link-btn {
    width: 100px;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #363062;
  color: #fcfafa;
  padding: 10px 0;
  position: sticky;
  top: 0;
}
.header .menu {
  display: flex;
}
.header .menu #icon {
  display: block;
}
.header .menu .link-btn {
  background-color: #363062;
  border: none;
  border-radius: 8px;
  width: 160px;
  text-align: right;
  padding-right: 1rem;
}
.header .menu .link-btn a {
  text-decoration: none;
  color: #fcfafa;
}
.header .menu .link-btn:hover {
  transition: 0.3s;
  background-color: #435585;
}
.header #logo {
  width: 100px;
  height: auto;
  padding-left: 2rem;
}

.footer {
  display: flex;
  background-color: #363062;
  padding: 10px 0;
  position: sticky;
  bottom: 0;
  width: 100%;
}
.footer .nav-footer {
  display: flex;
}
.footer .nav-footer a {
  color: #fcfafa;
  text-decoration: none;
  cursor: pointer;
}
.footer .nav-footer .link-btn {
  transition: 0.3s;
  background-color: #363062;
  border: none;
  border-radius: 8px;
  width: 160px;
  text-align: left;
  padding-left: 2rem;
}
.footer .nav-footer .link-btn:hover {
  background-color: #435585;
}

#wrapper {
  text-align: center;
  height: 100vh;
}
#wrapper #forma {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  width: 50%;
  gap: 0.5rem;
}
#wrapper #forma input {
  color: #000000;
  border: none;
  padding: 0.3rem;
  border-radius: 5px;
}
#wrapper #forma #btn {
  background-color: #363062;
  color: #fcfafa;
  border: none;
  padding: 0.3rem;
  border-radius: 5px;
}/*# sourceMappingURL=item.css.map */